/*
Theme Name: Sada Yoga
Theme URI: https://github.com/amostajo/sada-yoga-flash-child/
Author: 10 Quality
Author URI: https://www.10quality.com/
Description: Flash theme customizations for Sada Yoga.
Version: 1.0.0
License: MIT
License URI: https://github.com/amostajo/sada-yoga-flash-child/blob/master/LICENSE
Template: flash
Text Domain: sada-yoga

See LICENSE file.
*/