/**
 * responsiveness SASS stylesheet asset.
 *
 * @package flash-child
 * @version 1.0.3
 */

$res-laptop-mid:    1024px;
$res-table:         768px;
$res-mobile:        425px;
$res-mobile-sm:     375px;
$res-mobile-xs:     320px;